/* Base Styles */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Linear background gradient */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Container Styling */
.container {
    width: 100%;
    max-width: 400px;
    padding: 25px 35px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Input and Button Styling */
.container p {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}

.container input {
    width: 100%;
    height: 50px;
    border: 1px solid #494eea;
    outline: none;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}

.container button {
    width: 100%;
    height: 50px;
    background: #494eea;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
}

/* Image Box Styling */
#imgBox {
    width: 100%;
    max-width: 200px;
    margin: 10px auto;
    border-radius: 5px;
    overflow: hidden;
    transition: max-height 1s;
    max-height: 0;
}

#imgBox img {
    width: 100%;
    padding: 10px;
}

#imgBox.show-img {
    max-height: 300px;
    border: 1px solid #d1d1d1;
}

/* Error Animation */
.error {
    animation: shake 0.1s linear 10;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(2px);
    }
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 20px;
    }

    .container input, .container button {
        height: 45px;
    }
}